# ami & eli definitions
__tea/.ami-definitions/eli/*
!__tea/.ami-definitions/eli/.gitkeep
__tea/.ami-definitions/ami/*
!__tea/.ami-definitions/ami/.gitkeep
__tea/bin/*
!__tea/bin/.gitkeep

# ligo
**/.ligo-work
.ligo

# build
build/*
!build/.gitkeep

# deploy
deploy/*
!deploy/.gitkeep

# esy (ligo packages)
esy.lock
_esy